*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
body{
	background-color:#68cdd6;
	color:#fff;
	font-size:14px;
}
.container{
	width:100%;
	position:relative;
}
.icon-back{
	width:30px;
	height:30px;
	display:block;
	position:absolute;
	top:1.5em;
	left:1.5em;
	cursor:pointer;
}
.header{
	width:110px;
	position:fixed;
	top:20%;
	left:50%;
	transform:translateX(-50%);
}
.intro{
	position:fixed;
	top:45%;
	margin:0 15%;
	line-height: 1.5em;
}
@media screen and (min-width: 1200px) {
	.intro{
		margin:0;
		left:50%;
		transform:translateX(-50%); 
	}
}
.icon-bar{
	width:100%;
	padding:0 15%;
	overflow: auto;
	position:fixed;
	bottom:20%;
}
.item{
	text-align:center;
}
.contact-item{
	float:left;
}
.main-item{
	float:right;
}
.icon{
	width:45px;
	height:45px;
	margin-bottom:5px;
}